@import "general";

.button-footer {

    .button {
        margin-bottom: 10px;
    }

    @media (min-width: $medium-screen-width-start) {
        display: flex;

        > * {
            flex: 1;
            margin: 10px;
        }
    }
}