@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

$heading-color: #293C4E;
$button-color: #3498DB;
$primary-font-family: "Merriweather", serif;;
$secondary-font-family: "Merriweather Sans", sans-serif;