@import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');

$heading-color: #293C4E;
$button-color: #3498DB;
$upload-avatar-button-color: #627B8B;
$merriweather: "Merriweather", serif;;
$merriweather-sans: "Merriweather Sans", sans-serif;