@import "constants";

.button {
    background-color: $button-color;
    color: white;
    width: 100%;
    border: none;
    padding: 0;
    height: 40px;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    font-family: $merriweather-sans;

    &:hover {
        opacity: 0.8;
    }
}