@import "constants";

.hcard-preview {
    min-width: 270px;
    max-width: 350px;
    padding: 40px 10px 30px;
    margin: auto;

    .preview-header {
        background-color: $heading-color;
        position: relative;
        height: 80px;

        .full-name {
            font-family: $merriweather;
            font-size: 22px;
            color: white;
            position: absolute;
            bottom: 14px;
            left: 16px;
        }

        .avatar-image-container {
            position: absolute;
            right: 10px;
            top: 10px;

            .avatar-image {
                width: 75px;
                height: 85px;
                border: 1px solid lightgray;

            }
        }
    }

    .preview-body {
        background-color: white;
        padding: 12px 10px 18px;

        .preview-body-row {
            display: flex;

            .preview-field {
                flex: 1;
            }
        }

        .preview-field {
            display: flex;
            align-items: baseline;
            border-bottom: 1px solid lightgray;
            padding-top: 7px;

            .preview-field-label {
                width: 75px;
                text-transform: uppercase;
                font-size: 9px;
                font-weight: bold;
                color: $heading-color;
            }

            .preview-field-value {
                font-family: $merriweather;
                font-size: 12px;
            }
        }
    }
}