@import "constants";

.input-field {
    padding-top: 10px;

    .input-field-label {
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 2px;
        color: $heading-color;
    }

    .input-field-value {
        width: 100%;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid lightgray;
        outline: none;
        padding: 5px;
        font-family: $merriweather;

        &:focus {
            border-color: blue;
        }
    }
}