@import "constants";

.input-section {
    padding: 10px 0;

    .input-section-title {
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        border-bottom: 1px solid lightgray;
        opacity: 0.5;
    }

    @media (min-width: $medium-screen-width-start) {

        .input-section-title {
            margin: 0 10px;
        }

        .input-field {
            padding: 10px 10px 0;
            display: inline-block;
            box-sizing: border-box;
            width: 50%;
        }
    }
}